<h1>Multiplication</h1>

<form action="/wizard_multiply">
  <label for="multiply">Multiply this:</label>
  <input type="text" id="multiply" name="first_num">

  <label for="multiplyy">by this:</label>
  <input type="text" id="multiplyy" name="second_num">

  <button>Multiply</button>
</form>
